body {
  font-family: Arial;
  background-color: #ffffff;
  color: #444444;
  border: 0px;
  margin: 0px;
  padding: 0px;

}

li.defaultListItem{
    font-size: 20pt;
    padding: 20px;
}

div.naviDiv{
    background-color: #3B5998;
}

div.navigationButton{
    float: left;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
}

div.mainBodyDiv{


}

div.floatReaderContainer{
    padding: 10px;
}

div.clear{    
    clear: left;
}

div.textWord{    
    font-size: 15pt;
    float: left;
    padding-right: 10px;
}

div.defaultButton{
    //float: left;
    width: 50%;
    padding: 20px;
    border: 1px solid #cccccc;
}

div.popDiv{
    color: #ffffff;
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 100;
    background-color: red;
}

div.toastDiv{
    top: 100px;
    left: 100px;
    position: absolute;
    z-index: 100;
    background-color: red;
    display: none;
}



