
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,900,thin);
@import url(https://fonts.googleapis.com/css?family=Lusitana);



a:link {
  color: #000000;
}

/* visited link */

a:visited {
  color: #000000;
}

/* mouse over link */

a:hover {
  color: #000000;
}

/* selected link */

a:active {
  color: #000000;
}

body {
  font-family: Arial;
  background-color: #ffffff;
  color: #444444;
  border: 0px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/*
div {
  // border: 1px solid red;
  border: 0px;
  width: 100%;
}

*/

div {
  display: block;
  visibility: visible;
}

div.hidden {
  display: none;

}


div.toastRed {
  display: none;
  //background-color: #FFFF00;
  //background-color: #f3d100;
  background-color: #ec454c;
  text-align: center;
  color: white;
}

div.toastGreen {
  display: none;
  //background-color: #FFFF00;
  //background-color: #f3d100;
  background-color: #48b657;
  text-align: center ;
  color: white;
}




div.smallNodeTitle {
  font-weight: bold;
}

div.naviDiv {
  padding: 0px;
}

div.mainBodyDiv {
  padding: 10px;
}

div.layoutDiv {

  padding: 0px;
  /*
           visibility: hidden;
          display: none;
          */
}

div.greendiv {

  background-color: #00ff00;
  font-size: 1px;
}

html {

  margin: 0px;
  padding: 0px

}



span.breadcrumb {
  color: #999999;
}


span.button {
  padding: 0px;
  border: 0px solid #ffffff;
  text-align: center;
}

span.buttonSmall {

  /* border: 0px solid #ffffff; */
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;

  color: #444444;

  text-align: center;

  padding: 10px;
  margin: 40px;

  line-height: 2;

  border-radius: 10px;
}

/* this button gets modified by javascript*/
span.buttonSmallBlue{

    font-size: 16px;
}

span.label {
  padding: 0px;
  border: 0px solid #ffffff;
  text-align: center;
}


span.text {
  padding: 0px;
  border: 0px solid #ffffff;
  text-align: center;
}

span.spantest {

  width: 20px;
  height: 10px;
  background-color: #9ee7f5;

}

/* -------------------------------------------*/

td.tdNarrow {
  width: 10%;
}

td.tdTitle {
  font-weight: bold;
}

td.tdTitleButtons {
  text-align: right;
}

td.dividerBold {
  border-bottom: 0px solid grey;
}

td.dividerSoft {
  border-bottom: 0px solid grey;
}

table {
  width: 100%;
  border: 0px;
  padding: 0px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

table.login{
  width: auto;
}

td {
  width: 200px;
  border: 0px solid #cccccc;
  padding: 0px;
  text-align: center;
}

td.red {
  //background-color: #f5ad94;
  background-color: #ec454c;
  color: white;
  font-weight: bold;
}

td.yellow {
  //background-color: #fff1a6;
  background-color: #f3d100;
  color: white;
  font-weight: bold;
}

td.green {
  //background-color: #84f9a5;
  background-color: #48b657;
  color: white;
  font-weight: bold;
}

td.greentest {
  width: 100px;
  border: 0px solid #ff0000;
}


td.blue {
  //background-color: #9ee7f5;
  background-color: #3B5998;
  color: #ffffff;
  font-weight: bold;
}

td.ml {

  width: 100px;
  height: 100px;
  border: 0px solid #cccccc;
  padding: 0px;
  text-align: center;
}

tr {
  padding: 0px;
}

/* -------------------------------------------*/

input.naviButton{
  background-color: #3B5998;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: bold;

}

/* -------------------------------------------*/

textarea {
  border:solid 1px #444444;
  width: 80%;

}

textarea.contentEdit {
  border:solid 1px #444444;
  width: 80%;
  height: 400px;
}
